 <div class="cooment1">
      <div class="slot">
          <img class="avatar" src="/assets/comment/avatar1.jpg" alt="Avatar">
          <div class="account-info">
              <span class="account-name"><%= post.user.email.split("@")[0] %></span>
              <span class="time-ago">2 часа</span>
          </div>
      </div>
      <div class="comment-content">
          <p class="comment-text"><%= comment.body %></p>
          <div class="interactions">
              <img class="like-icon" src="/assets/comment/like.svg" alt="Like">
              <span class="like-count">8</span>
              <span class="reply">Ответить</span>
          </div>
      </div>

            <%#= link_to "", edit_comment_path(comment), class:"PostCommentIcon Edit" %>
            <%#= link_to "", comment, method: :delete, class:"PostCommentIcon Trash" %>
 </div>