    <% content_for :stylesheets do %>
      <%= stylesheet_link_tag "tiffany" %>
    <% end %>
<section class="main-section">
        <div class="background">
            <div class="banner">
                <div class="banner__cartier">
                    <h2 class="banner__heading">Cartier</h2>
                    <p class="text__cartier">История ювелирного дома</p>
                </div>
                <div class="tiffany">
                    <div class="origin info_wrapper" id="1837">
                        <img class="info_img shop_img" src="/assets/tiffany/luifrancua.jpg" alt="">
                        <div class="info_topic">
                            <h1 class="info_title">1847</h1>
                            <h2 class="info_subtitle">Первая мастерская</h2>
                            <p class="info_text">Луи-Франсуа Картье открывает свою первую мастерскую, выкупив ее у
                                наставника. Жажда творить подсказывает молодому мастеру уделять больше времени частным
                                заказам, в которых он мог бы полностью раскрыть себя. Именно любовь к созданию чего-то
                                нового, смелого и неповторимого стала той отличительной чертой, что привела Луи-Франсуа
                                Картье на Олимп  славы.</p>
                        </div>
                    </div>
                    <div class="catalogue info_wrapper" id="1845">
                        <div class="info_topic">
                            <h1 class="info_title">1853</h1>
                            <h2 class="info_subtitle">Императрица Евгения</h2>
                            <p class="info_text">На пороге магазина появилась изящная дама, от которой приятно пахло
                                духами. Гостья придирчиво разглядывала творения мастера, то и дело вздыхала и в
                                конце-концов, приобрела – о, чудо! - целых три броши! Позже Картье узнает, что его
                                посетительницей была супруга суперинтенданта по изящным искусствам при дворе Наполеона
                                III и ближайшая подруга принцессы Матильды, племянницы Наполеона Бонапарта.
                            </p>
                        </div>
                        <img class="info_img catalogue__img" src="/assets/tiffany/evgeniya.jpg" alt="">
                    </div>
                    <div class="building info_wrapper" id="1848">
                        <img class="info_img building_img" src="/assets/tiffany/cartier1.jpg" alt="">
                        <div class="info_topic">
                            <h1 class="info_title">1898</h1>
                            <h2 class="info_subtitle"> Первый бутик</h2>
                            <p class="info_text">И в 1898 году на Rue de la Paix 13 в Париже открылся магазин и
                                выставочный зал бренда. Репутация Cartier привлекла внимание богатых и знатных людей, в
                                число которых вошли и королевские дома.</p>
                        </div>
                    </div>
                    <div class="moodboard info_wrapper" id="1853">
                        <div class="info_topic">
                            <h1 class="info_title">1904</h1>
                            <h2 class="info_subtitle">Золотой период</h2>
                            <p class="info_text">После смерти Луи-Франсуа Картье в 1904 году его сын Альферд продолжил
                                дело отца. Альфред Картье ввел в семейный бизнес трех сыновей: Луи, Пьера и Жака. Каждый
                                из членов семьи Картье добавил индивидуальность в компанию, и вместе братья Картье
                                вознесли бренд на вершину славы.</p>
                        </div>
                        <img class="info_img box_img" src="/assets/tiffany/box.png" alt="">
                    </div>
                    <div class="portret info_wrapper" id="1847">
                        <img class="info_img portret_img" src="/assets/tiffany/cartier2.jpg" alt="">
                        <div class="info_topic">
                            <h1 class="info_title">1909</h1>
                            <h2 class="info_subtitle">Пятое авеню</h2>
                            <p class="info_text"> В 1909 году Пьер приобрел особняк на Пятой авеню в Нью-Йорке, который
                                впоследствии стал штаб-квартирой бренда. О малоизвестном в США французском бренде узнала
                                вся страна после того, как Cartier приобрел бриллиант Hope.</p>
                        </div>
                    </div>
                    <div class="almaz info_wrapper" id="1878">
                        <div class="info_topic">
                            <h1 class="info_title">1917</h1>
                            <h2 class="info_subtitle"> Часы Tank</h2>
                            <p class="info_text">В 1917 году компания Cartier представила часы Tank, стиль которых
                                вдохновлен шинами протекторов военных машин британской армии. От новых версий часов Tank
                                и Ballon Bleu до дизайна Ronde de Cartier и Tortue – бренд менял форму часов, оставляя
                                неизменным мастерство и инновации каждого дизайна.
                            </p>
                        </div>
                        <img class="info_img almaz_img" src="/assets/tiffany/watches.png" alt="">
                    </div>
                    <div class="years_cartier">
                        <div class="cartier_img">
                            <img src="/assets/tiffany/cartierlogo.png" alt="">
                        </div>
                        <div class="years_img">
                            <img src="/assets/tiffany/years.png" alt="">
                            <div class="number__nav">
                                <a class="num__link" href="#1837">1847</a>
                                <a class="num__link" href="#1845">1853</a>
                                <a class="num__link" href="#1848">1898</a>
                                <a class="num__link" href="#1853">1904</a>
                                <a class="num__link" href="#1861">1909</a>
                                <a class="num__link" href="#1878">1917</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>