    <% content_for :stylesheets do %>
      <%= stylesheet_link_tag "history" %>
    <% end %>

    <% content_for :javascripts do %>
      <%= javascript_include_tag "slider" %>
    <% end %>
<section class="main-section">
    <div class="background">
        <div class="banner">
            <div class="title-group">
                <a class="archiev title-main" href="">Архивы</a>
                <div class="divider__second">
                    <div class="highlight__second"></div>
                </div>
            </div>
            <div class="history">
                <div class="history__card tiffany__card">
                    <a class="history__card">
                        <button class="bttn back">
                            <img src="/assets/history/back.svg" alt="">
                        </button>
                        <a class="bg__card" href="#">
                            <img src="/assets/history/bvg.jpg" href="#" alt="">
                        </a>
                        <button class="bttnnx bttn arrow">
                            <img src="/assets/history/arrow.svg" alt="">
                        </button>
                </div>
                <div class="history__card bvglar__card hidden">
                    <button class="bttn back">
                        <img class="bvg__img" src="/assets/history/back.svg" alt="">
                    </button>
                    <a class="bg__card" href="/cartier">
                        <img src="/assets/history/1.jpg" href="/cartier" alt="">
                    </a>
                    <button class="bttnpr bttn arrow">
                        <img src="/assets/history/arrow.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
