    <% content_for :stylesheets do %>
      <%= stylesheet_link_tag "stones" %>
    <% end %>

    <% content_for :javascripts do %>
      <%= javascript_include_tag "diamond" %>
    <% end %>
       <section classsection="main-">
               <!-- <div class="background"> -->
               <div class="banner">
                   <div class="banner__content">
                       <h2 class="banner__heading">Готовы заглянуть<br>вглубь шкатулки?</h2>
                       <p class="text__opacity">Листайте дальше</p>
                       <button class="banner__next">
                           <img src="/assets/stones/bttn.svg" alt="">
                       </button>
                   </div>
                   <div class="popular">
                       <div class="wrapper">
                           <div class="popular rec__visible">
                               <div class="popular__flex rec__flex">
                                   <a class="popular__item rec__item">
                                       <button class="bttn_save ">
                                           <img src="/assets/common/save.svg" alt="">
                                       </button>
                                       <div class="backgradient">
                                           <img class="popular__img rec__img" src="/assets/stones/ametist.png" alt="">
                                       </div>
                                       <p class="popular__title rec__text text">Аметист</p>
                                       <p class="popular__text rec__text text">Амети́ст — фиолетовая, синевато-розовая или
                                           красно-фиолетовая разновидность кварца. Прозрачный аметист...</p>
                                       <button class="popular__btn rec__btn">#Камни</button>
                                   </a>
                                   <a class="popular__item rec__item">
                                       <button class="bttn_save ">
                                           <img src="/assets/common/save.svg" alt="">
                                       </button>
                                       <div class="backgradient">
                                           <img class="popular__img rec__img" src="/assets/stones/saphir.png" alt="">
                                       </div>
                                       <p class="popular__title rec__text text">Сапфир</p>
                                       <p class="popular__text rec__text text">Сапфи́р — драгоценный камень различных оттенков,
                                           одна из разновидностей корунда. В минералогии сапфирами...</p>
                                       <button class="popular__btn rec__btn">#Камни</button>
                                   </a>
                                   <a class="popular__item rec__item">
                                       <button class="bttn_save ">
                                           <img src="/assets/common/save.svg" alt="">
                                       </button>
                                       <div class="backgradient">
                                           <img class="popular__img rec__img" src="/assets/stones/emerald.png" alt="">
                                       </div>
                                       <p class="popular__title rec__text text">Измруд</p>
                                       <p class="popular__text rec__text text">Изумру́д — минерал, драгоценный камень
                                           берилловой группы. Согласно классификации Ферсмана изумруд...</p>
                                       <button class="popular__btn rec__btn">#Камни</button>
                                   </a>
                               </div>
                           </div>
                           <div class="popular rec__visible">
                               <div class="popular__flex rec__flex">
                                   <a class="popular__item rec__item">
                                       <button class="bttn_save ">
                                           <img src="/assets/common/save.svg" alt="">
                                       </button>
                                       <div class="backgradient">
                                           <img class="popular__img rec__img" src="/assets/stones/topaz.png" alt="">
                                       </div>
                                       <p class="popular__title rec__text text">Топаз</p>
                                       <p class="popular__text rec__text text">Топа́з — полудрагоценный камень, минерал из
                                           группы основных силикатов алюминия. Кристаллизуется в ромбической...</p>
                                       <button class="popular__btn rec__btn">#Камни</button>
                                   </a>
                                   <a class="popular__item rec__item">
                                       <button class="bttn_save ">
                                           <img src="/assets/common/save.svg" alt="">
                                       </button>
                                       <div class="backgradient">
                                           <img class="popular__img rec__img" src="/assets/stones/opal.png" alt="">
                                       </div>
                                       <p class="popular__title rec__text text">Опал</p>
                                       <p class="popular__text rec__text text">Сапфи́р — драгоценный камень различных оттенков,
                                           одна из разновидностей корунда. В минералогии сапфирами...</p>
                                       <button class="popular__btn rec__btn">#Камни</button>
                                   </a>
                                   <a class="popular__item rec__item">
                                       <button class="bttn_save ">
                                           <img src="/assets/common/save.svg" alt="">
                                       </button>
                                       <div class="backgradient">
                                           <img class="popular__img rec__img" src="/assets/stones/alexandrit.png" alt="">
                                       </div>
                                       <p class="popular__title rec__text text">Александрит</p>
                                       <p class="popular__text rec__text text">Александри́т — природная разновидность минерала
                                           хризоберилла с примесью хрома...</p>
                                       <button class="popular__btn rec__btn">#Камни</button>
                                   </a>
                               </div>
                           </div>
                           <div class="popular rec__visible">
                               <div class="popular__flex rec__flex">
                                   <a class="popular__item rec__item">
                                       <button class="bttn_save ">
                                           <img src="/assets/common/save.svg" alt="">
                                       </button>
                                       <div class="backgradient">
                                           <img class="popular__img rec__img" src="/assets/stones/amber.png" alt="">
                                       </div>
                                       <p class="popular__title rec__text text">Янтарь</p>
                                       <p class="popular__text rec__text text">Янта́рь — минералоид, окаменевшая ископаемая
                                           древесная смола, затвердевшая живица древнейших хвойных деревьев...</p>
                                       <button class="popular__btn rec__btn">#Камни</button>
                                   </a>
                                   <a class="popular__item rec__item">
                                       <button class="bttn_save ">
                                           <img src="/assets/common/save.svg" alt="">
                                       </button>
                                       <div class="backgradient">
                                           <img class="popular__img rec__img" src="/assets/stones/diamond.png" alt="">
                                       </div>
                                       <p class="popular__title rec__text text">Бриллиант</p>
                                       <p class="popular__text rec__text text"> Бриллиа́нт — алмаз, которому посредством
                                           обработки придана ограненная форма, максимально выявляющая его...</p>
                                       <button class="popular__btn rec__btn">#Камни</button>
                                   </a>
                                   <a class="popular__item rec__item" href="/posts/zircon">
                                        <% unless user_signed_in? %>
                                            <button class="bttn_save ">
                                               <img src="/assets/common/save.svg" alt="">
                                           </button>
                                        <% end %>
                                        <% if user_signed_in?%>
                                            <%= render "favorites/favorite" %>
                                        <% end %>
                                       <div class="backgradient">
                                           <img class="popular__img rec__img" src="/assets/stones/zircon.png" alt="">
                                       </div>
                                       <p class="popular__title rec__text text">Циркон</p>
                                       <p class="popular__text rec__text text">Цирко́н — минерал подкласса островных силикатов,
                                           ортосиликат циркония ZrSiO₄. Содержит, как правило...</p>
                                       <button class="popular__btn rec__btn">#Камни</button>
                                   </a>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </section>