<% content_for :stylesheets do %>
      <%= stylesheet_link_tag "zircon","jewelry", "comment" %>
    <% end %>

    <% content_for :javascripts do %>
      <%= javascript_include_tag "zircon" %>
    <% end %>
<section class="main-section">
        <div class="main__navigation">
            <p class="author grey__text">Автор
                статьи:<br>Анастасия
                Волковская</p>
        </div>
        <div class="background">
            <div class="banner">
                <div class="banner__img">
                    <img src="/assets/zircon/bannerzircon.jpg">
                </div>
                <div class="jewelry">
                    <div class="title__name">
                        <p class="tab grey__text">Камни/Циркон</p>
                        <h1 class="jewelry_title">Циркон</h1>
                        <div class="icon">
                            <img class="icon__img" src="/assets/jewelry/watch.svg" alt="">
                            <p class="icon__text grey__text">1237</p>
                            <img class="icon__img" src="/assets/jewelry/like.svg" alt="">
                            <p class="icon__text grey__text">543</p>
                        </div>
                    </div>
                    <div class="line">
                        <p class="data__text grey__text">01.02.2024</p>
                    </div>
                    <p class="jewelry__text">Цирко́н (нем. Zirkon ← перс. زرگون‎ [заргун] «золотистый») — минерал
                        подкласса островных силикатов, ортосиликат циркония ZrSiO4. Содержит, как правило, 1−4 % гафния,
                        изоморфно замещающего цирконий в кристаллической решётке. Также может содержать другие
                        редкоземельные элементы в незначительных количествах.<br><br><br>Кристаллизуется в
                        тетрагональной
                        сингонии, образуя дипирамидальные и призматические кристаллы.Твердость по шкале Мооса 7—8;
                        плотность 4,680—4,710 г/см³. Цвет варьирует в зависимости от
                        содержания примесей: от коричневато-жёлтого до коричневого, сероватый, красный, розовый; иногда
                        бесцветен. Блеск сильный алмазный, в условиях метамиктизации жирный. Спайность несовершенная по.
                        Обычно радиоактивен, всегда содержит примеси редких (REE) и радиоактивных (U, Th) элементов,
                        однако редко в значительных количествах. Образцы циркона, обладающие заметной примесью урана и
                        его дочерних продуктов радиоактивного распада, непрозрачны из-за деградации кристаллической
                        решётки.<br><br><br><br>Магматический, встречается в гранитах, сиенитах и др. породах, обычен в
                        пегматитах.
                        Почти во всех типах магматических горных пород присутствует в роли акцессорного минерала. В
                        кристаллах с
                        высоким содержанием радиоактивных элементов частицы, образующиеся в результате их распада,
                        разрушают структуру циркона, в результате чего он становится метамиктным. Химически очень
                        устойчив, поэтому часто используется для изучения геологического прошлого нашей планеты. При
                        выветривании вмещающих его пород концентрируется в россыпях. В начале 2000-х годов в западной
                        Австралии (местность Джек Хиллз[en]) найдены кристаллы циркона, возраст которых определён как
                        превышающий 4 миллиарда лет. Это древнейший из материалов, обнаруженных на Земле. В России
                        крупные месторождения циркона приурочены к щелочным породам (нефелиновые сиениты, миаскиты и
                        пр.). Самые крупные запасы этого минерала находятся в Хибинском щелочном массиве нефелиновых
                        сиенитов на Кольском полуострове, а также на Южном Урале, где циркон встречается в миаскитах
                        (Вишневые горы).
                    </p>
                    <div class="zircon__row">
                        <div class="img__js">
                            <img class="zircon__first" src="/assets/zircon/zirkon.jpg" alt="">
                            <div class="zir" href="#zircon__second">
                                <button class="icons__img">
                                    <img class="" src="/assets/zircon/icon.svg" alt="">
                                </button>
                            </div>
                        </div>
                        <div class="img__js hidden">
                            <img class="zircon__second " src="/assets/zircon/2.jpg" alt="">
                            <div class="zir" href="#zircon__second">
                                <button class="icons__img ">
                                    <img class="" src="/assets/zircon/icon.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular">
                    <div class="wrapper">
                        <div class="title-group">
                            <h1 class="jewelry_title">Читать еще:</h1>
                            <div class="divider__second">
                                <div class="highlight__second"></div>
                            </div>
                        </div>
                        <div class="popular rec__visible">
                            <div class="popular__flex rec__flex">
                                <a class="popular__item rec__item">
                                    <div class="backgradient">
                                        <img class="popular__img rec__img" src="/assets/stones/topaz.png" alt="">
                                    </div>
                                    <p class="popular__text rec__text text">Топаз</p>
                                    <button class="popular__btn rec__btn">#Камни</button>
                                </a>
                                <a class="popular__item rec__item">
                                    <div class="backgradient">
                                        <img class="popular__img rec__img" src="/assets/stones/opal.png" alt="">
                                    </div>
                                    <p class="popular__text rec__text text">Опал</p>
                                    <button class="popular__btn rec__btn">#Камни</button>
                                </a>
                                <a class="popular__item rec__item">
                                    <div class="backgradient">
                                        <img class="popular__img rec__img" src="/assets/stones/alexandrit.png" alt="">
                                    </div>
                                    <p class="popular__text rec__text text">Александрит</p>
                                    <button class="popular__btn rec__btn">#Камни</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="comment__wrapper">
                        <div class="title-group">
                            <h1 class="jewelry_title">2 комментария</h1>
                            <div class="divider__second">
                                <div class="highlight__second"></div>
                            </div>
                        </div>
                        <div class="comment">
                            <div class="cooment1">
                                <div class="slot">
                                    <img class="avatar" src="/assets/comment/avatar1.jpg" alt="Avatar">
                                    <div class="account-info">
                                        <span class="account-name">Cherrygirl</span>
                                        <span class="time-ago">2 часа</span>
                                    </div>
                                </div>
                                <div class="comment-content">
                                    <p class="comment-text">Какая красота! Глаз не оторвать</p>
                                    <div class="interactions">
                                        <img class="like-icon" src="/assets/comment/like.svg" alt="Like">
                                        <span class="like-count">8</span>
                                        <span class="reply">Ответить</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cooment2">
                                <div class="slot">
                                    <img class="avatar" src="/assets/comment/avatar2.jpg" alt="Avatar">
                                    <div class="account-info">
                                        <span class="account-name">Leylalyy</span>
                                        <span class="time-ago">2 часа</span>
                                    </div>
                                </div>
                                <div class="comment-content">
                                    <p class="comment-text">Я фанатка этой женщины!</p>
                                    <div class="interactions">
                                        <img class="like-icon" src="/assets/comment/like.svg" alt="Like">
                                        <span class="like-count">4</span>
                                        <span class="reply">Ответить</span>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-form-container">
                                <form class="comment-form" action="submit-comment.php" method="post">
                                    <textarea name="comment" placeholder="Написать комментарии..."></textarea>
                                    <button type="submit" class="submit-btn">Отправить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
